/* Definição básica */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background-color: rgb(245, 245, 245);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Cabeçalho fixo */


.navbar-custom {
    background-color: white; /* Cor de fundo personalizada */
}

.navbar-custom{
    cursor: pointer;

}

.navbar-custom :hover{
    color:#4d8ed9;
    transition: 0.2s;

}

.navbar-brand img {

    height: 60px; 
    margin-right: 20px; 
}

.nome{
    margin-bottom: 0px;
    margin-left: 76px;
    margin-top: -60px;
    color: #0b4c9c;

}
header nav ul {
    list-style-type: none;
    display: flex;
    margin-left: 1000px;
    margin-top: -40px;
 }
 
 header nav ul li {
    margin-left: 30px;
 }

 main {
    flex: 1;
    margin-top: 80px; /* Compensa o tamanho do cabeçalho */
    margin-bottom: 60px; /* Compensa o tamanho do rodapé */
    overflow-y: auto;
    padding: 20px;
}

.historico-section {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.historico-section h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #0b4c9c;
}

/* Tabela de histórico */
.historico-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.historico-table th, .historico-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.historico-table th {
    background-color: #0b4c9c;
    color: white;
}

.historico-table td a {
    color: #0b4c9c;
    text-decoration: none;
}

.historico-table td a:hover {
    text-decoration: underline;
}

/* Rodapé fixo */
footer {
    background-color: #0b4c9c;
    color: white;
    text-align: center;
    width: 100%;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    left: 0;
}

footer nav ul {
    list-style-type: none;
    display: inline-flex;
}

footer nav ul li {
    margin: 0 10px;
}

footer nav ul li a {
    color: white;
    text-decoration: none;
}

footer nav ul li a:hover {
    text-decoration: underline;
}
